<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Car Rent Icon" src="assets/car-rent-icon.png" width="40" height="40">
        <span>Car Rental App</span>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>

    <app-profile></app-profile>
  </div>
</nav>
