<nav class="navbar navbar-default navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Car Rent Icon" src="assets/car-rent-icon.png" width="40" height="40">
        <span>Car Rental App</span>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>

    <div *ngIf="this.profile(); else noUser">
      <div class="dropdown" (click)="toggleDropdown()" (blur)="closeDropdown()" [class.show]="isDropdownOpen" tabindex="0">
        <img
          src="{{ this.profile()?.['avatar_url'] }}"
          alt="avatar"
          class="rounded-circle"
          width="40"
          height="40">
        <span class="dropdown-toggle text-black my-2" role="button" aria-expanded="isDropdownOpen">
          {{ this.profile()?.['full_name'] }}
        </span>
        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <button (click)="signOut()" class="dropdown-item">Logout</button>
        </div>
      </div>
    </div>
    <ng-template #noUser>
      <button (click)="signIn()" class="btn btn-primary">Sign In</button>
    </ng-template>

  </div>
</nav>
